<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bossPro.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,225},{80,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,20}}</string>
                <key>sourceSize</key>
                <string>{80,20}</string>
            </dict>
            <key>btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,2},{460,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,140}}</string>
                <key>sourceSize</key>
                <string>{460,140}</string>
            </dict>
            <key>btn_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,144},{367,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,90}}</string>
                <key>sourceSize</key>
                <string>{367,90}</string>
            </dict>
            <key>btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,144},{176,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,106}}</string>
                <key>sourceSize</key>
                <string>{176,106}</string>
            </dict>
            <key>btn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,144},{176,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,106}}</string>
                <key>sourceSize</key>
                <string>{176,106}</string>
            </dict>
            <key>btn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,144},{195,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,81}}</string>
                <key>sourceSize</key>
                <string>{195,81}</string>
            </dict>
            <key>btn_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,199},{122,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,50}}</string>
                <key>sourceSize</key>
                <string>{122,50}</string>
            </dict>
            <key>btn_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,144},{94,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,35}}</string>
                <key>sourceSize</key>
                <string>{94,35}</string>
            </dict>
            <key>btn_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,144},{169,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,90}}</string>
                <key>sourceSize</key>
                <string>{169,90}</string>
            </dict>
            <key>btn_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,144},{169,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,90}}</string>
                <key>sourceSize</key>
                <string>{169,90}</string>
            </dict>
            <key>btn_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,144},{169,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,68}}</string>
                <key>sourceSize</key>
                <string>{169,68}</string>
            </dict>
            <key>normalPro.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,214},{80,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,20}}</string>
                <key>sourceSize</key>
                <string>{80,20}</string>
            </dict>
            <key>proBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,199},{84,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,24}}</string>
                <key>sourceSize</key>
                <string>{84,24}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{498,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,140}}</string>
                <key>sourceSize</key>
                <string>{498,140}</string>
            </dict>
            <key>title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{498,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,140}}</string>
                <key>sourceSize</key>
                <string>{498,140}</string>
            </dict>
            <key>title3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{478,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,195}}</string>
                <key>sourceSize</key>
                <string>{478,195}</string>
            </dict>
            <key>vicon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{71,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>vicon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,199},{69,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,52}}</string>
                <key>sourceSize</key>
                <string>{69,52}</string>
            </dict>
            <key>vicon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,199},{69,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,52}}</string>
                <key>sourceSize</key>
                <string>{69,52}</string>
            </dict>
            <key>vicon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,199},{46,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,35}}</string>
                <key>sourceSize</key>
                <string>{46,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1954,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:317f01b05442f6a4ea28a6dfb2500dcb$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
