<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>attk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,94},{90,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{90,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>attk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,2},{80,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{80,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>attk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,88},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>attk_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,150},{52,84}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,3},{52,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>bed_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,136},{82,64}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,52},{82,64}}</string>
                <key>sourceSize</key>
                <string>{94,148}</string>
            </dict>
            <key>bed_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,225},{94,120}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,148}</string>
            </dict>
            <key>bed_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,186},{82,98}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{82,98}}</string>
                <key>sourceSize</key>
                <string>{94,182}</string>
            </dict>
            <key>bed_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,70},{86,64}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,49},{86,64}}</string>
                <key>sourceSize</key>
                <string>{94,148}</string>
            </dict>
            <key>bed_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,2},{84,62}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,50},{84,62}}</string>
                <key>sourceSize</key>
                <string>{94,148}</string>
            </dict>
            <key>bed_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,166},{80,64}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,50},{80,64}}</string>
                <key>sourceSize</key>
                <string>{94,148}</string>
            </dict>
            <key>bed_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,146},{84,66}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,48},{84,66}}</string>
                <key>sourceSize</key>
                <string>{94,148}</string>
            </dict>
            <key>bed_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,2},{84,66}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,48},{84,66}}</string>
                <key>sourceSize</key>
                <string>{94,148}</string>
            </dict>
            <key>bed_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,248},{86,68}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,46},{86,68}}</string>
                <key>sourceSize</key>
                <string>{94,148}</string>
            </dict>
            <key>bed_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,250},{86,72}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,44},{86,72}}</string>
                <key>sourceSize</key>
                <string>{94,148}</string>
            </dict>
            <key>bed_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,236},{84,116}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{94,148}</string>
            </dict>
            <key>book_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,2},{80,86}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{80,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>book_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,246},{76,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{76,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>book_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,166},{78,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{78,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>book_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,2},{76,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{76,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>book_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,84},{80,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,87}}</string>
                <key>sourceSize</key>
                <string>{80,87}</string>
            </dict>
            <key>book_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,2},{80,88}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>book_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,84},{78,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{78,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>bullet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,110},{18,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,13}}</string>
                <key>sourceSize</key>
                <string>{18,13}</string>
            </dict>
            <key>bullet_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,291},{36,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,29}}</string>
                <key>sourceSize</key>
                <string>{36,29}</string>
            </dict>
            <key>bullet_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,294},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>bullet_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,110},{23,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,13}}</string>
                <key>sourceSize</key>
                <string>{23,13}</string>
            </dict>
            <key>bullet_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,294},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,28}</string>
            </dict>
            <key>bullet_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,197},{46,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,18}}</string>
                <key>sourceSize</key>
                <string>{46,18}</string>
            </dict>
            <key>bullet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,196},{25,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,19}}</string>
                <key>sourceSize</key>
                <string>{25,19}</string>
            </dict>
            <key>bullet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,236},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>bullet_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,282},{38,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,47}}</string>
                <key>sourceSize</key>
                <string>{38,47}</string>
            </dict>
            <key>bullet_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,294},{32,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>bullet_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,197},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>bullet_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,294},{33,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,22}}</string>
                <key>sourceSize</key>
                <string>{33,22}</string>
            </dict>
            <key>defense_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,2},{84,88}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{84,88}}</string>
                <key>sourceSize</key>
                <string>{90,104}</string>
            </dict>
            <key>defense_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,194},{88,96}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{88,96}}</string>
                <key>sourceSize</key>
                <string>{90,104}</string>
            </dict>
            <key>defense_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,66},{58,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,7},{58,90}}</string>
                <key>sourceSize</key>
                <string>{90,104}</string>
            </dict>
            <key>defense_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,180},{80,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{80,92}}</string>
                <key>sourceSize</key>
                <string>{90,104}</string>
            </dict>
            <key>door_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{92,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>door_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{96,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,94}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>door_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,196},{96,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,94}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>door_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{96,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,94}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>door_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{96,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,94}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>door_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,98},{92,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>door_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,195},{92,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>door_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{92,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>door_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,98},{94,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,96}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>door_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,196},{94,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,96}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>door_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,98},{94,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,96}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>door_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,217},{94,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,96}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>door_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,99},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>kDoor_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,94},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>kDoor_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,190},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>phone_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,262},{56,98}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{56,98}}</string>
                <key>sourceSize</key>
                <string>{90,104}</string>
            </dict>
            <key>phone_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,256},{64,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{64,90}}</string>
                <key>sourceSize</key>
                <string>{90,104}</string>
            </dict>
            <key>phone_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{66,94}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{66,94}}</string>
                <key>sourceSize</key>
                <string>{90,104}</string>
            </dict>
            <key>phone_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,2},{84,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{84,92}}</string>
                <key>sourceSize</key>
                <string>{90,104}</string>
            </dict>
            <key>playerPos.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{90,90}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{90,90}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>remove.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,98},{92,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,95}}</string>
                <key>sourceSize</key>
                <string>{92,95}</string>
            </dict>
            <key>repair_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,88},{83,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,87}}</string>
                <key>sourceSize</key>
                <string>{83,87}</string>
            </dict>
            <key>runProp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,110},{124,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,104}}</string>
                <key>sourceSize</key>
                <string>{124,104}</string>
            </dict>
            <key>runProp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{104,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,116}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>runProp_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{95,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,113}}</string>
                <key>sourceSize</key>
                <string>{95,113}</string>
            </dict>
            <key>runProp_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{106,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,124}}</string>
                <key>sourceSize</key>
                <string>{106,124}</string>
            </dict>
            <key>runProp_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,115}}</string>
                <key>sourceSize</key>
                <string>{121,115}</string>
            </dict>
            <key>runProp_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,108},{115,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,110}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>runProp_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{108,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,125}}</string>
                <key>sourceSize</key>
                <string>{108,125}</string>
            </dict>
            <key>runProp_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,125},{119,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,112}}</string>
                <key>sourceSize</key>
                <string>{119,112}</string>
            </dict>
            <key>select_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,171},{85,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{85,84}</string>
            </dict>
            <key>select_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,84},{85,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{85,84}</string>
            </dict>
            <key>weapon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,270},{90,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{90,50}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>weapon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,2},{88,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{88,54}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>weapon_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,210},{80,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{80,54}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>weapon_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,126},{82,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,17},{82,56}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>weapon_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,66},{82,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{82,48}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>weapon_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,282},{86,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{86,40}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>weapon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,258},{90,64}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{90,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>weapon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,248},{64,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{64,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>weapon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,92},{62,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{62,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>weapon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,270},{90,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{90,52}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>weapon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,220},{86,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,19},{86,50}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>weapon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,80},{88,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{88,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>weapon_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,2},{88,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{88,62}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>weapon_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,252},{86,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{86,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>weapon_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,98},{90,90}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{90,90}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>灯1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,164},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{82,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>灯2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,166},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{82,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>矿.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,186},{90,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameItem.png</string>
            <key>size</key>
            <string>{2012,324}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:755c561f6aa5bdcb66527b8c191d8748$</string>
            <key>textureFileName</key>
            <string>gameItem.png</string>
        </dict>
    </dict>
</plist>
