<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1861,127},{170,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,168}}</string>
                <key>sourceSize</key>
                <string>{170,168}</string>
            </dict>
            <key>bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,735},{170,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,168}}</string>
                <key>sourceSize</key>
                <string>{170,168}</string>
            </dict>
            <key>bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,556},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,473},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1713,338},{216,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,195}}</string>
                <key>sourceSize</key>
                <string>{216,195}</string>
            </dict>
            <key>light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,739},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>mvp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,329},{112,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,49}}</string>
                <key>sourceSize</key>
                <string>{112,49}</string>
            </dict>
            <key>propUI.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,535},{198,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,184}}</string>
                <key>sourceSize</key>
                <string>{198,184}</string>
            </dict>
            <key>repair1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,406},{86,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,91}}</string>
                <key>sourceSize</key>
                <string>{86,91}</string>
            </dict>
            <key>repair2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,1064},{84,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,88}}</string>
                <key>sourceSize</key>
                <string>{84,88}</string>
            </dict>
            <key>star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,1111},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,443},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>start_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,643},{367,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,90}}</string>
                <key>sourceSize</key>
                <string>{367,90}</string>
            </dict>
            <key>start_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,478},{214,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,55}}</string>
                <key>sourceSize</key>
                <string>{214,55}</string>
            </dict>
            <key>start_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{1761,1017},{124,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,35}}</string>
                <key>sourceSize</key>
                <string>{124,35}</string>
            </dict>
            <key>tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{748,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{748,68}}</string>
                <key>sourceSize</key>
                <string>{748,68}</string>
            </dict>
            <key>Ⅰ.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,1125},{26,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{26,44}</string>
            </dict>
            <key>Ⅱ.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,928},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>Ⅲ.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,974},{49,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,44}}</string>
                <key>sourceSize</key>
                <string>{49,44}</string>
            </dict>
            <key>Ⅳ.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,1077},{53,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,44}}</string>
                <key>sourceSize</key>
                <string>{53,44}</string>
            </dict>
            <key>Ⅴ.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,556},{41,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,44}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
            <key>七日好礼.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,909},{237,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,63}}</string>
                <key>sourceSize</key>
                <string>{237,63}</string>
            </dict>
            <key>三倍收益.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,1019},{124,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,35}}</string>
                <key>sourceSize</key>
                <string>{124,35}</string>
            </dict>
            <key>三倍领取.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,928},{125,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,35}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>上床.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,889},{173,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,92}}</string>
                <key>sourceSize</key>
                <string>{173,92}</string>
            </dict>
            <key>下床.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,901},{173,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,92}}</string>
                <key>sourceSize</key>
                <string>{173,92}</string>
            </dict>
            <key>修理.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,741},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>修理1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,905},{168,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,167}}</string>
                <key>sourceSize</key>
                <string>{168,167}</string>
            </dict>
            <key>公告.png</key>
            <dict>
                <key>frame</key>
                <string>{{1761,943},{72,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,87}}</string>
                <key>sourceSize</key>
                <string>{72,87}</string>
            </dict>
            <key>关注.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,735},{232,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,204}}</string>
                <key>sourceSize</key>
                <string>{232,204}</string>
            </dict>
            <key>关注2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,338},{232,198}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{232,198}}</string>
                <key>sourceSize</key>
                <string>{232,204}</string>
            </dict>
            <key>关门.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,696},{173,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,92}}</string>
                <key>sourceSize</key>
                <string>{173,92}</string>
            </dict>
            <key>分享有礼.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,278},{232,198}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{232,198}}</string>
                <key>sourceSize</key>
                <string>{232,204}</string>
            </dict>
            <key>分享有礼1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,72},{232,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,204}}</string>
                <key>sourceSize</key>
                <string>{232,204}</string>
            </dict>
            <key>助力.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,1125},{63,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,34}}</string>
                <key>sourceSize</key>
                <string>{63,34}</string>
            </dict>
            <key>助力2.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,329},{465,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,75}}</string>
                <key>sourceSize</key>
                <string>{465,75}</string>
            </dict>
            <key>双倍领取.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,1002},{124,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,35}}</string>
                <key>sourceSize</key>
                <string>{124,35}</string>
            </dict>
            <key>受伤.png</key>
            <dict>
                <key>frame</key>
                <string>{{1761,857},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>受伤1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,1039},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>大逃杀模式.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,701},{155,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,36}}</string>
                <key>sourceSize</key>
                <string>{155,36}</string>
            </dict>
            <key>大逃杀模式提示.png</key>
            <dict>
                <key>frame</key>
                <string>{{1999,790},{134,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,29}}</string>
                <key>sourceSize</key>
                <string>{134,29}</string>
            </dict>
            <key>失败.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{746,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{746,148}}</string>
                <key>sourceSize</key>
                <string>{746,148}</string>
            </dict>
            <key>失败1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,723},{415,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,180}}</string>
                <key>sourceSize</key>
                <string>{415,180}</string>
            </dict>
            <key>小贴士.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,538},{199,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,94}}</string>
                <key>sourceSize</key>
                <string>{199,94}</string>
            </dict>
            <key>已领取.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,790},{142,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,136}}</string>
                <key>sourceSize</key>
                <string>{142,136}</string>
            </dict>
            <key>已领取1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,1017},{94,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,35}}</string>
                <key>sourceSize</key>
                <string>{94,35}</string>
            </dict>
            <key>开门.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,602},{173,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,92}}</string>
                <key>sourceSize</key>
                <string>{173,92}</string>
            </dict>
            <key>待领取.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,700},{60,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,20}}</string>
                <key>sourceSize</key>
                <string>{60,20}</string>
            </dict>
            <key>成功.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{746,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{746,148}}</string>
                <key>sourceSize</key>
                <string>{746,148}</string>
            </dict>
            <key>房间内.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,1045},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>房间外.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1076},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>收割.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{420,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,419}}</string>
                <key>sourceSize</key>
                <string>{420,419}</string>
            </dict>
            <key>收割者.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,1045},{94,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,35}}</string>
                <key>sourceSize</key>
                <string>{94,35}</string>
            </dict>
            <key>收割者模式.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,741},{154,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,36}}</string>
                <key>sourceSize</key>
                <string>{154,36}</string>
            </dict>
            <key>未完成.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,1131},{79,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,28}}</string>
                <key>sourceSize</key>
                <string>{79,28}</string>
            </dict>
            <key>段位1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,901},{173,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,139}}</string>
                <key>sourceSize</key>
                <string>{173,139}</string>
            </dict>
            <key>段位2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,903},{220,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,143}}</string>
                <key>sourceSize</key>
                <string>{220,143}</string>
            </dict>
            <key>段位3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,735},{198,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,166}}</string>
                <key>sourceSize</key>
                <string>{198,166}</string>
            </dict>
            <key>段位4.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,735},{228,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,172}}</string>
                <key>sourceSize</key>
                <string>{228,172}</string>
            </dict>
            <key>段位5.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,941},{212,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,188}}</string>
                <key>sourceSize</key>
                <string>{212,188}</string>
            </dict>
            <key>段位6.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,909},{226,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,162}}</string>
                <key>sourceSize</key>
                <string>{226,162}</string>
            </dict>
            <key>段位bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,905},{396,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,167}}</string>
                <key>sourceSize</key>
                <string>{396,167}</string>
            </dict>
            <key>段位bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,302},{396,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,167}}</string>
                <key>sourceSize</key>
                <string>{396,167}</string>
            </dict>
            <key>段位上升.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1074},{262,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,85}}</string>
                <key>sourceSize</key>
                <string>{262,85}</string>
            </dict>
            <key>段位下降.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1074},{265,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,85}}</string>
                <key>sourceSize</key>
                <string>{265,85}</string>
            </dict>
            <key>添加.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,499},{64,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,34}}</string>
                <key>sourceSize</key>
                <string>{64,34}</string>
            </dict>
            <key>添加桌面.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,714},{141,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,113}}</string>
                <key>sourceSize</key>
                <string>{141,113}</string>
            </dict>
            <key>添加桌面1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,2},{470,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,123}}</string>
                <key>sourceSize</key>
                <string>{470,123}</string>
            </dict>
            <key>添加桌面2.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,406},{384,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,118}}</string>
                <key>sourceSize</key>
                <string>{384,118}</string>
            </dict>
            <key>皮肤商店.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,538},{160,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,161}}</string>
                <key>sourceSize</key>
                <string>{160,161}</string>
            </dict>
            <key>直接领取.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,892},{125,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,35}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>知道了.png</key>
            <dict>
                <key>frame</key>
                <string>{{2010,2},{75,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,29}}</string>
                <key>sourceSize</key>
                <string>{75,29}</string>
            </dict>
            <key>矿场.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,1076},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>研发助力.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,302},{384,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,125}}</string>
                <key>sourceSize</key>
                <string>{384,125}</string>
            </dict>
            <key>离线奖励.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,941},{218,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,122}}</string>
                <key>sourceSize</key>
                <string>{218,122}</string>
            </dict>
            <key>离线收益.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,127},{380,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,112}}</string>
                <key>sourceSize</key>
                <string>{380,112}</string>
            </dict>
            <key>离线收益bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,535},{160,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,204}}</string>
                <key>sourceSize</key>
                <string>{160,204}</string>
            </dict>
            <key>立刻领取.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,965},{124,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,35}}</string>
                <key>sourceSize</key>
                <string>{124,35}</string>
            </dict>
            <key>签到bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,72},{493,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,255}}</string>
                <key>sourceSize</key>
                <string>{493,255}</string>
            </dict>
            <key>签到bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,892},{135,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,151}}</string>
                <key>sourceSize</key>
                <string>{135,151}</string>
            </dict>
            <key>签到bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,739},{135,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,151}}</string>
                <key>sourceSize</key>
                <string>{135,151}</string>
            </dict>
            <key>签到奖励.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,241},{309,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,95}}</string>
                <key>sourceSize</key>
                <string>{309,95}</string>
            </dict>
            <key>红点.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,241},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>自己.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,1076},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>获取.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,2},{114,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,36}}</string>
                <key>sourceSize</key>
                <string>{114,36}</string>
            </dict>
            <key>角色商店.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,526},{380,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,115}}</string>
                <key>sourceSize</key>
                <string>{380,115}</string>
            </dict>
            <key>赏金.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,297},{174,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,128}}</string>
                <key>sourceSize</key>
                <string>{174,128}</string>
            </dict>
            <key>韭菜.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,1039},{65,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,36}}</string>
                <key>sourceSize</key>
                <string>{65,36}</string>
            </dict>
            <key>韭菜模式.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,688},{125,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,36}}</string>
                <key>sourceSize</key>
                <string>{125,36}</string>
            </dict>
            <key>领取.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,909},{53,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,28}}</string>
                <key>sourceSize</key>
                <string>{53,28}</string>
            </dict>
            <key>领取2.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1074},{65,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,35}}</string>
                <key>sourceSize</key>
                <string>{65,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobby.png</string>
            <key>size</key>
            <string>{2041,1161}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f4eea9791b4631af9b7a4b1cc8ee170$</string>
            <key>textureFileName</key>
            <string>lobby.png</string>
        </dict>
    </dict>
</plist>
